@media screen and (max-width: 1000px) {
  body {
    font-size: 85%;
  }

  .navigation-container {
    display: none;
  }

  article + article {
    margin-top: 40px;
  }

  .aside-photo_image .image-mock {
    width: 240px;
    height: 240px;
    background-position: 0 -30px;
  }

  .logo-container,
  .menu-container {
    font-size: 1rem;
  }

  .sign_in-button {
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 0 20px;
  }
}
