@media screen and (max-width: 500px) {
  body {
    font-size: 65%;
  }

  .main-container .main-wrapper {
    width: 90%;
  }

  .jumbotron .jumbotron-text h1 {
    font-size: 1rem;
  }

  .jumbotron .jumbotron-text p {
    margin-top: 5px;
    font-size: 0.7rem;
  }

  .content-card p + h2 {
    margin-top: 20px;
  }

  .aside-photo_text h3 {
    font-size: 0.9rem;
  }

  .aside-photo_text p {
    font-size: 0.75rem;
  }

  .aside-biodata .aside-biodata_icons {
    width: 50%;
    grid-template-columns: auto auto;
    margin-bottom: 50px;
  }

  .aside-biodata_projects h3 {
    font-size: 0.9rem;
  }

  .project-text p,
  .project-description a {
    font-size: 0.75rem;
  }

  .modals-content .sign_in-method {
    width: 70%;
    height: 12vh;
  }

  .modals-header .modals-header_text {
    width: 100%;
  }

  .modals-header_text p,
  .modals-method_change { 
    font-size: 13px;
  }

  .modals-wrapper .modals-header {
    padding: 0;
  }

  .modals-header .modals-header_exit i {
    position: absolute;
    top: 30px;
    right: 0;
    width: 20%;
  }
}
