@media screen and (max-width: 860px) {
  .menu-container {
    width: 40px;
    padding: 0;
  }

  .menu-container .menu-button {
    display: flex;
  }

  .menu-container .sign_in-button {
    display: none;
  }

  .main-container {
    padding: 0 0 70px;
  }

  .aside-container .aside-wrapper {
    flex-direction: column;
  }

  .aside-biodata .aside-biodata_icons {
    grid-template-columns: auto auto auto auto;
    width: 60%;
    height: 100px;
    padding: 0;
    margin: 0;
  }

  .aside-biodata .aside-biodata_projects {
    width: 60%;
    height: auto;
    padding: 0;
    margin-top: 20px;
  }

  .aside-photo_image .image-mock {
    width: 200px;
    height: 200px;
  }

  .aside-photo_text h3 {
    font-size: 1.3rem;
  }

  .aside-photo_text p {
    font-size: 1.1rem;
  }

  .aside-biodata_projects h3 {
    font-size: 20px;
  }

  .project-text p,
  .project-description a {
    font-size: 1rem;
  }

  .modals-content .sign_in-method {
    width: 25%;
  }

  .menu_screen-container {
    width: 30%;
  }

  .menu_screen-container.show {
    visibility: visible;
    opacity: 1;
    right: 0;
    outline: none;
    border-left: 4px solid var(--tertiary);
  }

  .menu_screen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: car(--primary);
  }

  .menu_screen-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: var(--primary);
    color: var(--tertiary);
    padding: 15px 0;
    cursor: pointer;
  }

  .menu_screen-item:first-child {
    margin-top: 30px;
  }

  .menu_screen-item:not(.menu_screen-item:last-child) {
    border-bottom: 1px solid var(--tertiary);
  }

  .menu_screen-item:last-child,
  .menu_screen-item:active,
  .menu_screen-item:hover {
    background-color: var(--tertiary);
    color: var(--primary);
  }

}
